body {
  background-color: #52a3f0a9;
}

.main-container {
  background-color: #e6767669;
  color: white;
  height: 2000px;
}

.container-1 {
  position: sticky;
  top: 1%;
  background-color: #b2b971cb;
}

.container-2 {
  position: sticky;
  top: 10.3%;
  background-color: #c97f55cb;
}

.container-3 {
  position: sticky;
  top: 19.65%;
  background-color: #c347e9ad;
}

.container-4 {
  position: sticky;
  top: 29%;
  background-color: #61dd91cb;
}

.cont {
  padding: 30px;
  margin: 50px;
}

@keyframes bounce {
  /* 0%,
  10%,
  20%,
  30%,
  15% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  } */
  30% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
.bounce_button {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  /* animation-timing-function: ease-in-out; */
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: 1;
  color: white;
}
.bounce_button:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}
